@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background: #101010;
  font-family: monospace;
  grid-column: auto;
}

@layer utilities {

	.transform-5050 {
		transform: translate(-50%,-50%);
	}

}

@layer components {
    .navli {
    	@apply inline-block relative ml-28 bg-pink-500;
    }

    .nava {
   		@apply uppercase text-xl text-neutral-700 pt-4 bg-pink-500;
    }

    .navdiv{
    	@apply bg-black w-0 pt-4 pb-1;
    }

    .project-li {
    	@apply inline-block relative
    }

    .project-img{
    	@apply m-[100px] max-h-[300px] w-auto transition-all duration-200
    }

    .project-img-hov{
      @apply m-[50px] blur-[8px] max-h-[400px]
    }

    .project-p1{
		  @apply text-transparent text-xs p-0 absolute blur-[2px] top-1/2 left-1/2 transform-5050 transition-all duration-200
    }

    .project-p1-hov{
      @apply text-amber-100 filter-none text-3xl
    }

    .home-p{
      @apply text-2xl text-amber-100  text-center
    }

    .tech-header{
      @apply text-2xl text-rose-500
    }

    .tech-container{
      @apply mt-10 grid w-screen place-items-center 
    }

}