.about-me-content {
    font-size: 30px;
    color: wheat;
    max-width: 50%;
    box-sizing: content-box;
}

.content {
    margin: 10%;
}

.home-page {
    margin-left : 15%;
    margin-right : 15%;
}

.home-page-content {
    margin: 20px;
    width: 50%;
    float: left;
}
.home-page-content-title {
    color: red;
    font-size: 50px;
}
.home-page-content-text {
    font-size: 20px;
    color: wheat;
}
.home-page-content-image-preview {
    margin: 40px;
    float: right;
    content: url("/images/placeholder.jpg");
}