.project-header {
    margin-top: 20px;
    float: left;
    position: relative;
    text-align: center;
  }
  
  .project-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .project-header li {
    display: inline-block;
    position: relative;
  }
  
  .project-header a:hover p1 {
    color: wheat;
    filter: none;
    font-size: 30px;
  }
  
  .project-header a:hover img {
    margin: 50px;
    filter: blur(8px);
    max-height: 300px;
  }
  
  .project-header a img {
    margin: 100px;
    max-height: 200px;
    width: auto;
    transition: all 250ms;
    content: url("/images/placeholder.jpg");
  }
  
  .project-header a p1 {
    font-size: 0px;
    padding: 0;
    color: transparent;
    position: absolute;
    filter: blur(2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: filter 250ms, color 250ms;
  }
  
  .project-container {
    display: flex;
    justify-content: left;
  }