<section>
    <div class="grid place-items-center w-screen">
        <p1 class=" text-amber-100 text-4xl mx-auto text-center pt-80">
            This section may be empty now <br>
            but you could change that!!</p1>
    </div>

</section>