<section>
  <div class="home-content">
      <p class="home-content-text">
          Hi!! , I'm
      </p>
      <h1 class="home-content-title">
          Logan.
      </h1>
      <p class="home-content-text">
          developer 🧑‍💻, maker 🛠️, amateur chef 🍳
      </p>
  </div>

  <div class="home-content-image-preview">        
  <img>
  </div>
</section>