<section>
    <div class="float-left pt-80 pl-60">
        <p class="text-amber-100 text-4xl">
            Hi!! , I'm
        </p>
        <h1 class="text-rose-600 text-5xl pl-20 pt-10 pb-14">
            Logan Henderson.
        </h1>
        <p class="text-amber-100 text-4xl">
            developer 🧑‍💻 | maker 🛠️ | amateur chef 🍳
        </p>
    </div>

    <img src="\images\placeholder.jpg" class="float-right pt-60 pr-72"/>
</section>