<section>
    <div class="home-page">
        <div class="home-page-content">
            <p class="home-page-content-text">
                Hi!! , I'm
            </p>
            <h1 class="home-page-content-title">
                Logan.
            </h1>
            <p class="home-page-content-text">
                developer 🧑‍💻, maker 🛠️, amateur chef 🍳
            </p>
        </div>

        <div class="home-page-content-image-preview">        
            <img>
        </div>
    </div>
</section>