<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "sirlilpanda-site" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="bg-pink-500 after:content">
      <div class="pb-16">
        <h1 class="text-4xl px-3 pt-3 float-left bg-pink-500">Sir lil Pandas</h1>
        <nav class="float-right">
          <ul class="mx-0 px-7 bg-pink-500">
            <li class="navli group"><div class="navdiv group-hover:bg-black group-hover:w-full transition-all duration-200"></div><a class="nava" href="/">Home()</a></li>
            <li class="navli group"><div class="navdiv group-hover:bg-black group-hover:w-full transition-all duration-200"></div><a class="nava" href="/mywork">My_work()</a></li>
            <li class="navli group"><div class="navdiv group-hover:bg-black group-hover:w-full transition-all duration-200"></div><a class="nava" href="/projects">projects()</a></li>
            <li class="navli group"><div class="navdiv group-hover:bg-black group-hover:w-full transition-all duration-200"></div><a class="nava" href="#">Contact()</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
